In [1]:
import pandas as pd

In [11]:
import os

for root, dirs, files in os.walk(".", topdown=True):
    for name in files:
        if name.endswith(".csv"):
            print(os.path.join(root, name))

In [14]:
import os
print(os.path.exists('data/US_Accidents_March23.csv'))  # Returns True or False

False

In [17]:
import os

# Check the current working directory
print("Current Working Directory:", os.getcwd())

# Update the file path to the absolute path
file_path = r'C:\Users\SHASHANK\OneDrive\Desktop\US_Traffic_Accident_Analysis\data\US_Accidents_March23.csv'

if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print(df.head())  # Display the first few rows of the dataset
else:
    print(f"File not found: {file_path}")

Current Working Directory: c:\Users\SHASHANK\OneDrive\Desktop\US_Traffic_Accident_Analysis\notebooks
    ID   Source  Severity           Start_Time             End_Time  \
0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

   Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
0  39.865147 -84.058723      NaN      NaN          0.01  ...      False
1  39.928059 -82.831184      NaN      NaN          0.01  ...      False
2  39.063148 -84.032608      NaN      NaN          0.01  ...      False
3  39.747753 -84.205582      NaN      NaN          0.01  ...      False
4  39.627781 -84.188354      NaN      NaN          0.01  ...      False

  Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0   False  False           False          False        False          Night
1   False  False           False          False        False          Night
2   False  False           False           True        False          Night
3   False  False           False          False        False          Night
4   False  False           False           True        False            Day

  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0          Night             Night                 Night
1          Night             Night                   Day
2          Night               Day                   Day
3            Day               Day                   Day
4            Day               Day                   Day

[5 rows x 46 columns]

In [18]:
print("Initial shape:", df.shape)
df.head()

Initial shape: (7728394, 46)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [19]:
df.dropna(subset=["Start_Time", "Weather_Condition", "Severity", "Start_Lat", "Start_Lng"], inplace=True)

In [21]:
# Convert Start_Time to datetime, coercing errors to NaT
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

# Drop rows where Start_Time could not be converted
df.dropna(subset=['Start_Time'], inplace=True)

# Extract Hour and DayOfWeek from Start_Time
df['Hour'] = df['Start_Time'].dt.hour
df['DayOfWeek'] = df['Start_Time'].dt.day_name()

In [28]:
# Update the directory to a location with sufficient space
output_directory = r'D:\Cleaned data'  # Replace 'D:' with a drive or path with enough space

# Ensure the directory exists
os.makedirs(output_directory, exist_ok=True)

# Save the DataFrame to a CSV file
output_file_path = os.path.join(output_directory, 'processed_data.csv')
df.to_csv(output_file_path, index=False)
print(f"File saved successfully to {output_file_path}")

File saved successfully to D:\Cleaned data\processed_data.csv

In [24]:
print("Cleaned shape:", df.shape)

Cleaned shape: (6829766, 48)